# LSP
[language-server.clangd.config]
fallbackFlags = ["-xc","-std=c11","-Wpedantic","-Wall","-Wextra","-Werror","-Iinclude"]

# Low Level Languages
[[language]]
name = "c"
indent = { tab-width = 4, unit = "\t" }
formatter = { command = "clang-format" }
auto-format = true

[[language]]
name = "cpp"
indent = { tab-width = 4, unit = "\t" }
formatter = { command = "clang-format" }
auto-format = true

[[language]]
name = "rust"
auto-format = true

# Web
[[language]]
name = "javascript"
indent = { tab-width = 4, unit = "\t" }
formatter = { command = "prettier", args = ["--parser", "typescript"] }
auto-format = true

[[language]]
name = "typescript"
indent = { tab-width = 4, unit = "\t" }
formatter = { command = "prettier", args = ["--parser", "typescript"] }
auto-format = true

[[language]]
name = "tsx"
indent = { tab-width = 4, unit = "\t" }
formatter = { command = "prettier", args = ["--parser", "typescript"] }
auto-format = true

[[language]]
name = "html"
auto-format = true

[[language]]
name = "css"
formatter = { command = "prettier", args = ["--parser", "css"] }
auto-format = true

[[language]]
name = "php"
auto-format = true

# Scripting
[[language]]
name = "python"
auto-format = true

# General Purpose
[[language]]
name = "java"
indent = { tab-width = 4, unit = "\t" }
auto-format = true
